.logout-btn {
    margin-top: 10px;
    background-color: #7db3ee;
    color: rgb(110, 12, 12);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .logout-btn:hover {
    background-color: #6191c5;
  }